/* Reset styles */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Body styles */
body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #333;
	background-color: #f9f9f9;
}

/* Navigation styles */
nav {
	display: flex;
	position: fixed;
	top: 0;
	width: 100%;
	align-items: center;
	justify-content: center;
	background-color: #45474a;
	color: #fff;
	padding: 10px 10px 10px;
	z-index: 1;
}

nav a {
	color: #fff;
	text-decoration: none;
	margin: 0 10px;
}

nav a:hover {
	color: #ffcc00;
}

/* Header styles */
header {
    background-color: #f9f9f9;
    color: #2d2d2e;
    padding: 60px 10px 10px;
    display: flow;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header h1 {
    font-size: 38px;
    font-weight: lighter;
    margin-bottom: 0; /* added to create some space between h1 and h2 */
}

header h2 {
    font-size: 38px;
    font-weight: normal;
    font-family: "Great Vibes", cursive;
    margin-bottom: 5px;
}

/* Instagram icon styles */
.instagram-icon {
    color: #aaa;
    transition: color 0.2s;
    font-size: 24px;
}

.instagram-icon:hover {
    color: #ffcc00;
}

/* Main styles */
main {
    margin: 0 auto;
    max-width: 1240px;
	padding: 0 20px 20px;
	z-index: 1;
}

section {
    opacity: 0;
    transform: translateY(100%);
    animation: slide-up 0.5s ease forwards;
}

section.animate {
    animation: slide-up 0.5s ease forwards;
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

section h2 {
    justify-content: center;
    font-weight: lighter;
    text-align: center;
	font-size: 28px;
	padding-top: 10px;
	padding-bottom: 10px;
}

section h2:after {
    content: "";
    display: block;
    height: 1px;
    width: 50%;
    margin: 2px auto;
    background-color: #9c9b98;
}

section h3 {
    padding-top: 15px;
    font-size: 24px;
    font-weight: lighter;
    color: #1C1C1C;
}

section p {
    padding-top: 0;
    font-size: 16px;
    color: #444444;
    line-height: 1.5;
    text-align: justify;
}

/*section ul {*/
/*	list-style: none;*/
/*	margin-bottom: 20px;*/
/*}*/

/*section ul li {*/
/*    display: flex;*/
/*	margin-bottom: 10px;*/
/*    !*border-bottom: 1px solid #ccc;*!*/
/*    !*border-bottom-width: 10px;*!*/
/*}*/

/*section ul  li:last-child {*/
/*    border-bottom: none;*/
/*}*/

    /*Image styles*/
.image-container {
    display: flex;
	position: relative;
    height: auto;
    margin: 0;
    border-radius: 5px;
    opacity: 0.83;
}

.image-container img {
    display: block;
	max-width: 100%;
    border-radius: 5px;
}

.image-container .image-text {
    display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 55px;
	font-weight: bold;
	color: #26241d;
	padding: 10px;
	border-radius: 5px;
	opacity: 0;
	transition: opacity 0.4s ease;
}

.image-container:hover img {
    opacity: 0.2;
}

.image-container:hover .image-text {
	opacity: 1;
}

.lashes {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}

.brows {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}

.service-desc-lashes {
    width: 100%;
    padding-left: 100px;
}

.service-desc-brows {
    width: 100%;
    padding-right: 100px;
}

/* Table styles */
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 40px;
    /*border: 1px solid #ccc;*/
    background-color: #fff;
    font-size: 16px;
}

.subhead {
    text-align: center;
    font-weight: bolder;
    font-size: 18px;
}

th,
td {
    text-align: left;
    padding: 10px;
  /*border: 1px solid #ccc;*/
}

th {
    background-color: #f2f2f2;
    font-size: 18px;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #ebebeb;
}

#about {
    justify-content: center;
    padding: 15px;
    align-items: center;
}

.advantages-container {
    display: flex;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
}

.advantages-container ul {
    list-style: none;
    margin: 5px;
    padding: 0;
    font-size: 18px;
}

.advantages-container li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.advantages-container i {
    color: #6e6e6e;
    font-size: 24px;
    margin-right: 10px;
}

.advantages-container i:hover {
    color: #ffcc00;
}

blockquote {
    font-family: Georgia, serif;
    font-size: 24px;
    font-style: italic;
    line-height: 1.5;
    text-align: left;
    position: relative;
    padding: 30px;
    padding-bottom: 0;
    margin: 0;
    background-color: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

blockquote::before {
    content: "“";
    left: -20px;
    position: absolute;
    top: 20px;
    font-size: 80px;
    color: #d8d8d8;
}

blockquote::after {
    content: "”";
    position: absolute;
    right: -10px;
    bottom: 20px;
    font-size: 80px;
    color: #d8d8d8;
}

.quote {
    font-family: Georgia, serif;
    font-size: 20px;
    font-style: italic;
    background-color: #ffffff;
    color: #333;
    text-align: right;
    margin-top: 5px;
}

.address {
    padding-top: 10px;
    font-size: 14px;
}

/* Footer styles */
footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
	font-size: 12px;
}
/* Linkedin icon styles */
.linkedin-icon {
    color: #aaa;
    transition: color 0.2s;
}

.linkedin-icon:hover {
  color: #ffcc00;
}

/* Mobile styles */
@media (max-width: 768px) {
    nav {
        align-items: center;
        justify-content: center;
        font-size: 16px;
        padding: 5px 10px 5px;
    }

    nav a {
        margin: 5px;
    }

    header {
        padding: 60px 10px 5px;
    }

    header h1 {
        font-size: 32px;
    }

    header h2 {
        font-size: 28px;
    }

    .instagram-icon {
    color: #aaa;
    transition: color 0.2s;
    font-size: 20px;
    }

    main {
        padding: 0 15px 15px;
    }

    section h2 {
        font-size: 24px;
    }
    section h3 {
        font-size: 20px;
    }
    section p {
        font-size: 14px;
    }

    /*section ul li {*/
    /*    display: block;*/
    /*}*/

    .service-desc-lashes {
        width: 100%;
        margin: 5px auto;
        padding: 0;
    }

    .service-desc-brows {
        width: 100%;
        margin: 5px auto;
        padding: 0;
    }

        /* Adjust image size for mobile */
    #services li img {
        width: 100%;
    }

    .image-container {
        width: 100%;
        /*max-width: 350px;*/
        margin: 5px auto;
    }

    .lashes {
        padding-bottom: 10px;
        display: inline;
        align-items: stretch;
        justify-content: flex-start;
    }

    .brows {
        flex-direction: column-reverse;
        padding-bottom: 0;
        align-items: stretch;
        justify-content: flex-start;
    }

    /*Table mobile styles*/
    table {
        font-size: 14px;
    }

    .subhead {
        text-align: center;
        font-weight: bolder;
        font-size: 16px;
    }

    th, td {
        padding: 5px;
    }

    th {
        font-size: 16px;
    }
}
