/* Reset styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body styles */
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f9f9f9;
}

/* Navigation styles */
nav {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #45474a;
    color: #fff;
    padding: 10px;
    z-index: 1;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    color: #e1306c;
}

/* Language selector styles */
.lang-selector {
    position: relative;
    margin-left: 10px;
}

.lang-selector select {
    appearance: none;
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    margin-left: 30px;
    padding: 5px 20px 5px 0; /* increased right padding to make room for arrow */
    position: relative;
}

.lang-selector select:focus {
    outline: none;
    /*background-color: rgba(255, 255, 255, 0.2);*/
    transition: background-color 0.2s ease-in-out;
}

/* create arrow */
.lang-selector::after {
    content: '\f078'; /* content code for font-awesome arrow icon */
    font-family: 'Font Awesome 5 Free', sans-serif; /* font-family for font-awesome */
    font-weight: 900;
    color: #fff;
    font-size: 12px;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; /* ignore clicks on arrow */
}

.lang-selector:hover select,
.lang-selector:hover::after,
.lang-selector select:focus + ::after {
    color: #e1306c;
    transition: color 0.2s ease-in-out;
}

/* Header styles */
header {
    background-color: #f9f9f9;
    color: #2d2d2e;
    padding: 60px 10px 10px;
    display: flow;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header h1 {
    font-size: 38px;
    font-weight: lighter;
    margin-bottom: 0; /* added to create some space between h1 and h2 */
}

header h2 {
    font-size: 38px;
    font-weight: normal;
    font-family: "Great Vibes", cursive;
    margin-bottom: 5px;
}

/* Instagram icon styles */
.instagram-icon {
    color: #aaa;
    transition: color 0.2s;
    font-size: 24px;
}

.instagram-icon:hover {
    color: #e1306c;
}

/* Main styles */
main {
    margin: 0 auto;
    max-width: 1240px;
    padding: 10px 20px 10px 20px;
    z-index: 1;
}

section {
    opacity: 0;
    margin-bottom: 50px;
    transform: translateY(100%);
    animation: slide-up 0.5s ease forwards;
}

section.animate {
    animation: slide-up 0.5s ease forwards;
}

@keyframes slide-up {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

section h2 {
    justify-content: center;
    font-weight: lighter;
    text-align: center;
    font-size: 28px;
    padding-top: 10px;
    padding-bottom: 10px;
}

section h2:after {
    content: "";
    display: block;
    height: 1px;
    width: 50%;
    margin: 2px auto;
    background-color: #9c9b98;
}

section h3 {
    padding-top: 15px;
    font-size: 24px;
    font-weight: 500;
    color: #1C1C1C;
    position: relative;
    display: inline-block;
}

section h3::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    transition: width 0.5s ease-in-out;
}

section h3.active::after {
    width: 100%;
    background-color: #e1306c;
}

section p {
    padding-top: 5px;
    font-size: 16px;
    color: #444444;
    line-height: 1.5;
    text-align: justify;
}

/*Image styles*/
.image-container {
    display: flex;
    position: relative;
    height: auto;
    margin: 0;
    border-radius: 5px;
    opacity: 0.83;
}

.image-container img {
    display: block;
    max-width: 100%;
    border-radius: 5px;
}

.image-container .image-text {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 55px;
    font-weight: bold;
    color: #26241d;
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.image-container:hover img {
    opacity: 0.2;
}

.image-container:hover .image-text {
    opacity: 1;
}

.lashes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 50px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2),
    -2px -2px 6px rgba(255, 255, 255, 0.5);
    margin-bottom: 30px;
}

.brows {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 50px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2),
    -2px -2px 6px rgba(255, 255, 255, 0.5);
}

.service-desc-lashes {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    width: 100%;
    padding-left: 100px;
}

.service-desc-brows {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    width: 100%;
    padding-right: 100px;
}

/* Table styles */
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 40px;
    /*border: 1px solid #ccc;*/
    background-color: #fff;
    font-size: 16px;
}

.subhead {
    text-align: center;
    font-weight: bolder;
    font-size: 18px;
}

th,
td {
    text-align: left;
    padding: 10px;
    /*border: 1px solid #ccc;*/
}

th {
    background-color: #f2f2f2;
    font-size: 18px;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #ebebeb;
}

#about {
    justify-content: center;
    padding: 0 15px;
    align-items: center;
}

blockquote {
    font-family: Georgia, serif;
    font-style: italic;
    line-height: 1.5;
    text-align: left;
    position: relative;
    padding: 30px 30px 0;
    margin: 0;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

blockquote p {
    font-size: 20px;
}

blockquote::before {
    content: "“";
    left: -20px;
    position: absolute;
    top: 20px;
    font-size: 80px;
    color: #d8d8d8;
}

blockquote::after {
    content: "”";
    position: absolute;
    right: -10px;
    bottom: 20px;
    font-size: 80px;
    color: #d8d8d8;
}

.quote {
    font-family: Georgia, serif;
    font-size: 24px;
    font-style: italic;
    background-color: #ffffff;
    color: #333;
    text-align: right;
    margin-top: 5px;
}

.advantages-container {
    display: flex;
    justify-content: center;
    padding: 30px 10px 0 10px;
    /*background-color: #ffffff;*/
    /*box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);*/
}

.advantages-container ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.advantages-container .left-list {
    margin-right: 150px;
}

.advantages-container li {
    display: block;
    margin-bottom: 10px;
    text-align: center;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
}

.advantages-container li.visible {
    opacity: 1;
    transform: translateY(0);
}

.advantages-container p {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}

.advantages-container i {
    color: #6e6e6e;
    font-size: 40px;
    display: block;
    margin-bottom: 5px;
}

.advantages-container i:hover {
    color: #e1306c;
}

/*Make an appointment styles*/
#booking {
    color: #333;
    padding: 30px;
    margin-bottom: 50px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2),
    -2px -2px 6px rgba(255, 255, 255, 0.5);
}

#booking p {
    text-align: center;
    font-size: 1.0rem;
    margin-bottom: 10px;
}

.instagram-btn-wrapper {
    text-align: center;
}

.instagram-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    border-radius: 50px;
    font-weight: normal;
    font-size: 1.2rem;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.instagram-btn:hover {
    background-color: #e1306c;
}

.instagram-btn i {
    margin-right: 10px;
    font-size: 24px;
    vertical-align: middle;
    color: #e1306c;
}

.instagram-btn:hover i {
    color: #ffffff;
}

.address {
    margin-top: 50px;
    text-align: center;
}

.address p {
    font-size: 1.0rem;
    padding-bottom: 0;
}

.fa-location-dot {
    margin-right: 5px;
    font-size: 1.2rem;
    vertical-align: middle;
    color: #e1306c;
}

.fa-envelope {
    margin-right: 5px;
    font-size: 1.2rem;
    vertical-align: middle;
    color: #e1306c;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 12px;
}

/* Linkedin icon styles */
.linkedin-icon {
    color: #aaa;
    transition: color 0.2s;
}

.linkedin-icon:hover {
    color: #e1306c;
}

    .book-now {
        position: fixed;
        bottom: 40px;
        right: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.5);
        color: #6e6e6e;
        font-size: 18px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    .book-now:hover {
        background-color: #fff;
        color: #e1306c;
    }

    .book-now:active {
        background-color: #e1306c;
        color: #fff;
    }

    .book-now-icon {
        display: none;
    }

    .book-now-icon i {
        display: none;
    }

    .book-now-text {
        animation: pulsate 1.2s ease-in-out infinite;
    }

    @keyframes pulsate {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.1);
        }
        100% {
            transform: scale(1);
        }
    }

/* Mobile styles */
@media (max-width: 768px) {
    nav {
        align-items: center;
        justify-content: center;
        font-size: 16px;
        padding: 5px 10px 5px;
    }

    nav a {
        margin: 5px;
    }

    .lang-selector select {
        margin-left: 0;
    }

    header {
        padding: 60px 10px 5px;
    }

    header h1 {
        font-size: 32px;
    }

    header h2 {
        font-size: 28px;
    }

    .instagram-icon {
        color: #aaa;
        transition: color 0.2s;
        font-size: 20px;
    }

    main {
        padding: 10px 15px 10px 15px;
    }

    section {
        margin-bottom: 30px;
    }

    section h2 {
        font-size: 24px;
    }

    section h3 {
        font-size: 20px;
    }

    section p {
        font-size: 14px;
    }

    /*section ul li {*/
    /*    display: block;*/
    /*}*/
    /* Adjust image size for mobile */
    #services li img {
        width: 100%;
    }

    .image-container {
        width: 100%;
        margin: 5px auto;
    }

    .lashes {
        flex-direction: column;
        padding: 5px;
        box-shadow: None;
    }

    .brows {
        flex-direction: column-reverse;
        align-items: stretch;
        justify-content: flex-start;
        padding: 5px;
        box-shadow: None;
    }

    .service-desc-lashes {
        width: 100%;
        margin: 5px auto;
        padding: 0;
    }

    .service-desc-brows {
        width: 100%;
        margin: 5px auto;
        padding: 0;
    }

    /*Table mobile styles*/
    table {
        font-size: 14px;
    }

    .subhead {
        text-align: center;
        font-weight: bolder;
        font-size: 16px;
    }

    th, td {
        padding: 5px;
    }

    th {
        font-size: 16px;
    }

    blockquote p {
        font-size: 16px;
    }

    .quote {
        font-size: 18px;
    }

    .advantages-container p {
        font-size: 14px;
    }

    .advantages-container i {
        font-size: 36px;
    }

    .advantages-container .left-list {
        margin-right: 20px;
    }

    .book-now {
        bottom: 20px;
        right: 20px;
        width: 80px;
        height: 80px;
        font-size: 14px;
    }
}
