/* Reset styles */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Body styles */
body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #333;
	background-color: #f9f9f9;
}

/* Navigation styles */
nav {
	display: flex;
	position: fixed;
	top: 0;
	width: 100%;
	align-items: center;
	justify-content: center;
	background-color: #45474a;
	color: #fff;
	padding: 10px 10px 10px;
	z-index: 1;
}

nav a {
	color: #fff;
	text-decoration: none;
	margin: 0 10px;
}

nav a:hover {
	color: #ffcc00;
}

/* Header styles */
header {
  background-color: #f9f9f9;
  color: #2d2d2e;
  padding: 60px 10px 10px;
  display: flow;
  justify-content: center;
  align-items: center;
  text-align: center;
}

header h1 {
  font-size: 36px;
  font-weight: normal;
  margin-bottom: 0; /* added to create some space between h1 and h2 */
}

header h2 {
  font-size: 30px;
  font-weight: normal;
  font-family: "Caveat", cursive;
  margin-bottom: 5px;
}

/* Instagram icon styles */
.instagram-icon {
    color: #aaa;
    transition: color 0.2s;
    font-size: 24px;

}

.instagram-icon:hover {
  color: #ffcc00;
}

/* Main styles */
main {
    margin: 0 auto;
    max-width: 1080px;
	padding: 0 50px 50px;
	z-index: 1;
}

section h2:after {
  content: "";
  display: block;
  height: 0.5px;
  width: 50%;
  margin: 5px auto;
  background-color: #9c9b98;
}

section {
	margin-bottom: 0;
}

section h2 {
    justify-content: center;
    align-items: center;
    text-align: center;
	font-size: 24px;
	font-weight: normal;
	padding-top: 10px;
	margin-bottom: 10px;
}

section h3 {
	font-size: 18px;
	font-weight: normal;
}

section p {
	font-size: 14px;
	margin-bottom: 5px;
    text-align: justify;
}

section ul {
	list-style: none;
	margin-bottom: 20px;
}

section ul li {
    display: flex;
	margin-bottom: 10px;
}

    /*Image styles*/
li .image-container {
    display: flex;
	position: relative;
    height: auto;
    margin: 0;
    border-radius: 5px;
    opacity: 0.8;
}

li .image-container img {
    display: block;
	max-width: 100%;
    border-radius: 5px;
}

li .image-container .image-text {
    display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 35px;
	font-weight: bold;
	color: #26241d;
	padding: 10px;
	border-radius: 5px;
	opacity: 0;
	transition: opacity 0.4s ease;
}

li .image-container:hover img {
    opacity: 0.2;
}

li .image-container:hover .image-text {
	opacity: 1;
}

.brows {
    padding-bottom: 25px;
}

.lashes {
    padding-bottom: 25px;
}

li .service-desc {
    width: 100%;
    margin-left: 20px;
}

/* Table styles */
table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 40px;
  /*border: 1px solid #ccc;*/
  background-color: #fff;
  font-size: 14px;
}

th,
td {
  text-align: left;
  padding: 10px;
  /*border: 1px solid #ccc;*/
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #ebebeb;
}

main .address {
    padding-top: 10px;
    font-size: 14px;
}

/* Footer styles */
footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
	font-size: 12px;
}
/* Linkedin icon styles */
.linkedin-icon {
    color: #aaa;
    transition: color 0.2s;
}

.linkedin-icon:hover {
  color: #ffcc00;
}

/* Mobile styles */
@media (max-width: 768px) {
    nav {
        align-items: center;
        justify-content: center;
        font-size: 14px;
        padding: 5px 10px 5px;
    }

    nav a {
        margin: 5px;
    }

    header {
        padding: 60px 10px 5px;
    }

    header h1 {
        font-size: 28px;
    }

    header h2 {
        font-size: 22px;
    }

    .instagram-icon {
    color: #aaa;
    transition: color 0.2s;
    font-size: 20px;
    }

    main {
        padding: 0 20px 20px;
    }

    section h2 {
        font-size: 20px;
    }

    section ul li {
        display: block;
        margin-left: 5px;
    }

    li .service-desc {
        width: 100%;
        margin: 5px auto;
    }

    li .image-container {
        width: 100%;
        /*max-width: 350px;*/
        margin: 5px auto;
    }

    /* Adjust image size for mobile */
    #services li img {
        width: 100%;
    }

    /*Table mobile styles*/
    table {
        font-size: 14px;
    }

    th, td {
        padding: 5px;
    }
}
